<!--<p>-->
<!--<%= link_to "Sign in", new_user_session_path %>-->
<!--<%= link_to "FAQ", home_faq_path %>-->
<!--<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>-->
<!--</p>-->
<div id="outer">
  <div class="container" id="inner">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
        <h2 class="section-title no-margin-top"><%= t('label.user.form_title.register') %></h2>
        <div class="panel panel-primary-dark animated fadeInDown">
          <div class="panel-heading"><%= t('label.user.form_name.register') %></div>
          <div class="panel-body">
            <%= form_for(resource, as: resource_name, :role => "form", url: registration_path(resource_name)) do |f| %>
                <%= devise_error_messages! %>
                <div class="form-group">
                  <%= f.label t('label.user.form_content.firstname') %><br/>
                  <%= f.text_field :firstname, autofocus: true, :class => "form-control text-center", "placeholder" => "John" %>
                </div>
                <div class="form-group">
                  <%= f.label t('label.user.form_content.lastname') %><br/>
                  <%= f.text_field :lastname, :class => "form-control text-center", "placeholder" => "Doe" %>
                </div>
                <div class="form-group">
                  <%= f.label t('label.user.form_content.email') %><br/>
                  <%= f.email_field :email, :class => "form-control text-center", "placeholder" => "john.doe@gmail.com" %>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= f.label t('label.user.form_content.password') %>
                      <% if @minimum_password_length %>
                          <em>(<%= @minimum_password_length %> characters minimum)</em>
                      <% end %><br/>
                      <%= f.password_field :password, autocomplete: "off", :class => "form-control text-center" %>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= f.label t('label.user.form_content.password_confirmation') %>
                      <% if @minimum_password_length %>
                          <em>(Must be same with password)</em><br/>
                      <% end %>
                      <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control text-center" %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="btn-group" data-toggle="buttons">
                      <% Role.all.each do |role| %>
                          <label for="first" class="btn btn-primary">
                            <%= f.radio_button :role, role.name, :id => role.name , :style => "display:none;" %><%= role.name %>
                          </label>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 text-center">
                    <div class="checkbox checkbox-inline">
                      <%= f.check_box :terms_of_service %>
                      <label for="inlineCheckbox1"><%= t('label.user.form_content.terms_and_conditions_html', terms_and_conditions_url:"#" )%></label>
                    </div>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-md-12 text-center">
                    <%= button_tag t('label.user.form_button.register'), :class => "btn btn-ar btn-primary"%><br>
                  </div>
                <br>
                <div class="row">
                  <div class="col-md-12 text-center">
                    <%- if controller_name != 'sessions' %>
                        <%= link_to t('label.user.form_content.i_already_have_an_account'), new_session_path(resource_name), :class => "pull-right" %>
                    <% end -%>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- container  -->

</div>


