<!--THİS İS THE PAGE FOR USERS

<% if is_student? %>
STUDENT
<% elsif is_teacher? %>
TEACHA
<% else %>
BOK
<% end %>-->
<%= render 'layouts/top-navigation-bar' %>
<%= link_to 'create group', new_group_path %>
<div class="container">
  <%= render 'posts/new' %>
  <%= render 'posts/love' %>
  <% current_user.posts.reverse_each do |post| %>
      <%= render partial: 'posts/post', :locals => {:firstname => current_user.firstname,
                                                    :lastname => current_user.lastname,
                                                    :content => post.content,
                                                    :post_created_at => post.created_at} %>
  <% end %>
</div>